/* Ostrich Sans Dashed */

@font-face {
  font-family: 'Ostrich Sans Dashed';
  src: url('ostrich-sans-dashed-webfont.eot');
  src: local('☺'),
    url('ostrich-sans-dashed-webfont.woff') format('woff'),
    url('ostrich-sans-dashed-webfont.ttf') format('truetype'),
    url('ostrich-sans-dashed-webfont.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}
