/* Ostrich Sans Inline */

@font-face {
  font-family: 'Ostrich Sans Inline';
  src: url('ostrich-sans-inline-webfont.eot');
  src: local('☺'), url('ostrich-sans-inline-webfont.woff') format('woff'), url('ostrich-sans-inline-webfont.ttf') format('truetype'), url('ostrich-sans-inline-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ostrich Sans Inline';
  src: url('ostrich-sans-inline-italic-webfont.eot');
  src: local('☺'), url('ostrich-sans-inline-italic-webfont.woff') format('woff'), url('ostrich-sans-inline-italic-webfont.ttf') format('truetype'), url('ostrich-sans-inline-italic-webfont.svg') format('svg');
  font-weight: normal;
  font-style: italic;
}
