/* Ostrich Sans */

@font-face {
  font-family: 'Ostrich Sans';
  src: url('ostrich-sans-black-webfont.eot');
  src: local('☺'),
    url('ostrich-sans-black-webfont.woff') format('woff'),
    url('ostrich-sans-black-webfont.ttf') format('truetype'),
    url('ostrich-sans-black-webfont.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Ostrich Sans';
  src: url('ostrich-sans-bold-webfont.eot');
  src: local('☺'),
    url('ostrich-sans-bold-webfont.woff') format('woff'),
    url('ostrich-sans-bold-webfont.ttf') format('truetype'),
    url('ostrich-sans-bold-webfont.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Ostrich Sans';
  src: url('ostrich-sans-webfont.eot');
  src: local('☺'),
    url('ostrich-sans-webfont.woff') format('woff'),
    url('ostrich-sans-webfont.ttf') format('truetype'),
    url('ostrich-sans-webfont.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ostrich Sans';
  src: url('ostrich-sans-light-webfont.eot');
  src: local('☺'),
    url('ostrich-sans-light-webfont.woff') format('woff'),
    url('ostrich-sans-light-webfont.ttf') format('truetype'),
    url('ostrich-sans-light-webfont.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}
