<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>B</key>
		<integer>-20</integer>
		<key>C</key>
		<integer>-45</integer>
		<key>D</key>
		<integer>-20</integer>
		<key>E</key>
		<integer>-20</integer>
		<key>F</key>
		<integer>-20</integer>
		<key>G</key>
		<integer>-43</integer>
		<key>H</key>
		<integer>-20</integer>
		<key>I</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-20</integer>
		<key>K</key>
		<integer>-20</integer>
		<key>L</key>
		<integer>-20</integer>
		<key>M</key>
		<integer>-20</integer>
		<key>N</key>
		<integer>-31</integer>
		<key>O</key>
		<integer>-32</integer>
		<key>P</key>
		<integer>-20</integer>
		<key>Q</key>
		<integer>-36</integer>
		<key>R</key>
		<integer>-20</integer>
		<key>S</key>
		<integer>-55</integer>
		<key>T</key>
		<integer>-121</integer>
		<key>U</key>
		<integer>-35</integer>
		<key>V</key>
		<integer>-125</integer>
		<key>W</key>
		<integer>-110</integer>
		<key>X</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-100</integer>
		<key>Z</key>
		<integer>-10</integer>
		<key>b</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-45</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-20</integer>
		<key>i</key>
		<integer>-20</integer>
		<key>n</key>
		<integer>-31</integer>
		<key>o</key>
		<integer>-32</integer>
		<key>r</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-55</integer>
		<key>t</key>
		<integer>-121</integer>
		<key>u</key>
		<integer>-35</integer>
		<key>v</key>
		<integer>-125</integer>
		<key>x</key>
		<integer>-30</integer>
		<key>y</key>
		<integer>-100</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>A</key>
		<integer>-39</integer>
		<key>E</key>
		<integer>-11</integer>
		<key>O</key>
		<integer>-15</integer>
		<key>S</key>
		<integer>-16</integer>
		<key>T</key>
		<integer>-39</integer>
		<key>V</key>
		<integer>-31</integer>
		<key>W</key>
		<integer>-16</integer>
		<key>X</key>
		<integer>-27</integer>
		<key>Y</key>
		<integer>-54</integer>
		<key>e</key>
		<integer>-19</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>s</key>
		<integer>-16</integer>
		<key>t</key>
		<integer>-39</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-12</integer>
		<key>y</key>
		<integer>-54</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>A</key>
		<integer>-43</integer>
		<key>H</key>
		<integer>-11</integer>
		<key>R</key>
		<integer>20</integer>
		<key>S</key>
		<integer>-24</integer>
		<key>T</key>
		<integer>-54</integer>
		<key>Y</key>
		<integer>-15</integer>
		<key>a</key>
		<integer>-43</integer>
		<key>comma</key>
		<integer>-20</integer>
		<key>h</key>
		<integer>-11</integer>
		<key>period</key>
		<integer>-20</integer>
		<key>r</key>
		<integer>20</integer>
		<key>s</key>
		<integer>-24</integer>
		<key>t</key>
		<integer>-54</integer>
		<key>y</key>
		<integer>-11</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-65</integer>
		<key>E</key>
		<integer>-12</integer>
		<key>W</key>
		<integer>-23</integer>
		<key>Y</key>
		<integer>-32</integer>
		<key>a</key>
		<integer>-65</integer>
		<key>e</key>
		<integer>-12</integer>
		<key>w</key>
		<integer>-23</integer>
		<key>y</key>
		<integer>-31</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>C</key>
		<integer>-15</integer>
		<key>D</key>
		<integer>-12</integer>
		<key>G</key>
		<integer>-47</integer>
		<key>J</key>
		<integer>-32</integer>
		<key>N</key>
		<integer>-12</integer>
		<key>O</key>
		<integer>-51</integer>
		<key>Q</key>
		<integer>-51</integer>
		<key>S</key>
		<integer>-55</integer>
		<key>T</key>
		<integer>-24</integer>
		<key>V</key>
		<integer>-16</integer>
		<key>W</key>
		<integer>-16</integer>
		<key>Y</key>
		<integer>-10</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>d</key>
		<integer>-12</integer>
		<key>g</key>
		<integer>-47</integer>
		<key>j</key>
		<integer>-32</integer>
		<key>n</key>
		<integer>-12</integer>
		<key>o</key>
		<integer>-51</integer>
		<key>q</key>
		<integer>-51</integer>
		<key>s</key>
		<integer>-55</integer>
		<key>t</key>
		<integer>-24</integer>
		<key>v</key>
		<integer>-16</integer>
		<key>w</key>
		<integer>-16</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-113</integer>
		<key>C</key>
		<integer>-43</integer>
		<key>G</key>
		<integer>-39</integer>
		<key>J</key>
		<integer>-113</integer>
		<key>L</key>
		<integer>-4</integer>
		<key>O</key>
		<integer>-43</integer>
		<key>S</key>
		<integer>-39</integer>
		<key>a</key>
		<integer>-113</integer>
		<key>c</key>
		<integer>-43</integer>
		<key>g</key>
		<integer>-39</integer>
		<key>j</key>
		<integer>-113</integer>
		<key>l</key>
		<integer>-4</integer>
		<key>o</key>
		<integer>-43</integer>
		<key>s</key>
		<integer>-39</integer>
		<key>space</key>
		<integer>-31</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>A</key>
		<integer>-50</integer>
		<key>S</key>
		<integer>-27</integer>
		<key>T</key>
		<integer>-55</integer>
		<key>V</key>
		<integer>-19</integer>
		<key>Y</key>
		<integer>-51</integer>
		<key>a</key>
		<integer>-50</integer>
		<key>s</key>
		<integer>-27</integer>
		<key>t</key>
		<integer>-55</integer>
		<key>y</key>
		<integer>-51</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>A</key>
		<integer>-24</integer>
		<key>R</key>
		<integer>20</integer>
		<key>a</key>
		<integer>-24</integer>
		<key>r</key>
		<integer>20</integer>
	</dict>
	<key>I</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>S</key>
		<integer>-19</integer>
		<key>T</key>
		<integer>-11</integer>
		<key>a</key>
		<integer>-40</integer>
		<key>s</key>
		<integer>-19</integer>
		<key>t</key>
		<integer>-11</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>A</key>
		<integer>-43</integer>
		<key>a</key>
		<integer>-43</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>O</key>
		<integer>-28</integer>
		<key>S</key>
		<integer>-27</integer>
		<key>o</key>
		<integer>-28</integer>
		<key>s</key>
		<integer>-27</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>A</key>
		<integer>-11</integer>
		<key>O</key>
		<integer>-43</integer>
		<key>S</key>
		<integer>-35</integer>
		<key>T</key>
		<integer>-125</integer>
		<key>U</key>
		<integer>-39</integer>
		<key>V</key>
		<integer>-129</integer>
		<key>Y</key>
		<integer>-109</integer>
		<key>a</key>
		<integer>-11</integer>
		<key>o</key>
		<integer>-39</integer>
		<key>s</key>
		<integer>-31</integer>
		<key>t</key>
		<integer>-125</integer>
		<key>u</key>
		<integer>-39</integer>
		<key>v</key>
		<integer>-129</integer>
		<key>y</key>
		<integer>-109</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>B</key>
		<integer>8</integer>
		<key>N</key>
		<integer>15</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>b</key>
		<integer>8</integer>
		<key>n</key>
		<integer>15</integer>
	</dict>
	<key>N</key>
	<dict>
		<key>A</key>
		<integer>-45</integer>
		<key>T</key>
		<integer>-12</integer>
		<key>a</key>
		<integer>-45</integer>
		<key>t</key>
		<integer>-12</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>A</key>
		<integer>-47</integer>
		<key>D</key>
		<integer>-16</integer>
		<key>N</key>
		<integer>-16</integer>
		<key>O</key>
		<integer>-23</integer>
		<key>P</key>
		<integer>-16</integer>
		<key>R</key>
		<integer>10</integer>
		<key>S</key>
		<integer>-19</integer>
		<key>T</key>
		<integer>-70</integer>
		<key>V</key>
		<integer>-43</integer>
		<key>W</key>
		<integer>-43</integer>
		<key>X</key>
		<integer>-12</integer>
		<key>Y</key>
		<integer>-43</integer>
		<key>a</key>
		<integer>-47</integer>
		<key>d</key>
		<integer>-16</integer>
		<key>n</key>
		<integer>-16</integer>
		<key>o</key>
		<integer>-23</integer>
		<key>p</key>
		<integer>-16</integer>
		<key>r</key>
		<integer>10</integer>
		<key>s</key>
		<integer>-19</integer>
		<key>t</key>
		<integer>-70</integer>
		<key>v</key>
		<integer>-43</integer>
		<key>w</key>
		<integer>-43</integer>
		<key>x</key>
		<integer>-12</integer>
		<key>y</key>
		<integer>-43</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-97</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-16</integer>
		<key>Y</key>
		<integer>-15</integer>
		<key>a</key>
		<integer>-97</integer>
		<key>comma</key>
		<integer>-70</integer>
		<key>period</key>
		<integer>-70</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-16</integer>
		<key>y</key>
		<integer>-15</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>U</key>
		<integer>-10</integer>
		<key>u</key>
		<integer>-10</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>A</key>
		<integer>-12</integer>
		<key>O</key>
		<integer>-11</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-24</integer>
		<key>W</key>
		<integer>-24</integer>
		<key>Y</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-12</integer>
		<key>o</key>
		<integer>-11</integer>
		<key>t</key>
		<integer>-16</integer>
		<key>v</key>
		<integer>-28</integer>
		<key>w</key>
		<integer>-24</integer>
		<key>y</key>
		<integer>-30</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>A</key>
		<integer>-28</integer>
		<key>E</key>
		<integer>-12</integer>
		<key>H</key>
		<integer>-12</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-28</integer>
		<key>Y</key>
		<integer>-16</integer>
		<key>a</key>
		<integer>-28</integer>
		<key>e</key>
		<integer>-12</integer>
		<key>h</key>
		<integer>-12</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-28</integer>
		<key>y</key>
		<integer>-12</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-113</integer>
		<key>H</key>
		<integer>-11</integer>
		<key>I</key>
		<integer>-11</integer>
		<key>J</key>
		<integer>-82</integer>
		<key>O</key>
		<integer>-20</integer>
		<key>S</key>
		<integer>-50</integer>
		<key>a</key>
		<integer>-113</integer>
		<key>comma</key>
		<integer>-65</integer>
		<key>h</key>
		<integer>-11</integer>
		<key>i</key>
		<integer>-11</integer>
		<key>j</key>
		<integer>-82</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-65</integer>
		<key>s</key>
		<integer>-27</integer>
		<key>space</key>
		<integer>-54</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>A</key>
		<integer>-47</integer>
		<key>S</key>
		<integer>-31</integer>
		<key>T</key>
		<integer>-19</integer>
		<key>a</key>
		<integer>-47</integer>
		<key>s</key>
		<integer>-31</integer>
		<key>t</key>
		<integer>-19</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-125</integer>
		<key>E</key>
		<integer>10</integer>
		<key>J</key>
		<integer>-98</integer>
		<key>O</key>
		<integer>-35</integer>
		<key>a</key>
		<integer>-125</integer>
		<key>e</key>
		<integer>10</integer>
		<key>j</key>
		<integer>-98</integer>
		<key>o</key>
		<integer>-35</integer>
		<key>space</key>
		<integer>-39</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-105</integer>
		<key>O</key>
		<integer>-28</integer>
		<key>S</key>
		<integer>-20</integer>
		<key>a</key>
		<integer>-105</integer>
		<key>e</key>
		<integer>-28</integer>
		<key>o</key>
		<integer>-28</integer>
		<key>period</key>
		<integer>-80</integer>
		<key>s</key>
		<integer>-20</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>S</key>
		<integer>-31</integer>
		<key>s</key>
		<integer>-31</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-94</integer>
		<key>C</key>
		<integer>-31</integer>
		<key>O</key>
		<integer>-15</integer>
		<key>S</key>
		<integer>-35</integer>
		<key>a</key>
		<integer>-94</integer>
		<key>c</key>
		<integer>-31</integer>
		<key>comma</key>
		<integer>-50</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>period</key>
		<integer>-50</integer>
		<key>s</key>
		<integer>-35</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>O</key>
		<integer>-16</integer>
		<key>o</key>
		<integer>-16</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>N</key>
		<integer>-36</integer>
		<key>T</key>
		<integer>-90</integer>
		<key>Y</key>
		<integer>-129</integer>
		<key>b</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-45</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-20</integer>
		<key>f</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>-43</integer>
		<key>h</key>
		<integer>-20</integer>
		<key>i</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-24</integer>
		<key>k</key>
		<integer>-28</integer>
		<key>l</key>
		<integer>-16</integer>
		<key>m</key>
		<integer>-20</integer>
		<key>n</key>
		<integer>-31</integer>
		<key>o</key>
		<integer>-32</integer>
		<key>p</key>
		<integer>-28</integer>
		<key>q</key>
		<integer>-43</integer>
		<key>r</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-55</integer>
		<key>t</key>
		<integer>-121</integer>
		<key>u</key>
		<integer>-35</integer>
		<key>v</key>
		<integer>-125</integer>
		<key>w</key>
		<integer>-110</integer>
		<key>x</key>
		<integer>-30</integer>
		<key>y</key>
		<integer>-100</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>S</key>
		<integer>-16</integer>
		<key>T</key>
		<integer>-39</integer>
		<key>V</key>
		<integer>-31</integer>
		<key>W</key>
		<integer>-35</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-43</integer>
		<key>a</key>
		<integer>-39</integer>
		<key>e</key>
		<integer>-11</integer>
		<key>i</key>
		<integer>-15</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>s</key>
		<integer>-15</integer>
		<key>t</key>
		<integer>-39</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-15</integer>
		<key>x</key>
		<integer>-11</integer>
		<key>y</key>
		<integer>-54</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>A</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>-23</integer>
		<key>Y</key>
		<integer>-11</integer>
		<key>a</key>
		<integer>-43</integer>
		<key>comma</key>
		<integer>-20</integer>
		<key>h</key>
		<integer>-11</integer>
		<key>period</key>
		<integer>-20</integer>
		<key>r</key>
		<integer>20</integer>
		<key>s</key>
		<integer>-24</integer>
		<key>t</key>
		<integer>-54</integer>
		<key>y</key>
		<integer>-16</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>A</key>
		<integer>-43</integer>
		<key>W</key>
		<integer>-23</integer>
		<key>Y</key>
		<integer>-31</integer>
		<key>a</key>
		<integer>-65</integer>
		<key>e</key>
		<integer>-12</integer>
		<key>s</key>
		<integer>-4</integer>
		<key>w</key>
		<integer>-23</integer>
		<key>y</key>
		<integer>-32</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
		<key>S</key>
		<integer>-24</integer>
		<key>a</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>d</key>
		<integer>-12</integer>
		<key>g</key>
		<integer>-47</integer>
		<key>j</key>
		<integer>-32</integer>
		<key>n</key>
		<integer>-12</integer>
		<key>o</key>
		<integer>-51</integer>
		<key>q</key>
		<integer>-51</integer>
		<key>s</key>
		<integer>-55</integer>
		<key>t</key>
		<integer>-24</integer>
		<key>v</key>
		<integer>-16</integer>
		<key>w</key>
		<integer>-16</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>two</key>
		<integer>16</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>A</key>
		<integer>-94</integer>
		<key>J</key>
		<integer>-117</integer>
		<key>L</key>
		<integer>20</integer>
		<key>S</key>
		<integer>-27</integer>
		<key>a</key>
		<integer>-113</integer>
		<key>c</key>
		<integer>-43</integer>
		<key>g</key>
		<integer>-39</integer>
		<key>j</key>
		<integer>-114</integer>
		<key>l</key>
		<integer>-4</integer>
		<key>o</key>
		<integer>-43</integer>
		<key>s</key>
		<integer>-39</integer>
		<key>space</key>
		<integer>-31</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>A</key>
		<integer>-23</integer>
		<key>T</key>
		<integer>-31</integer>
		<key>Y</key>
		<integer>-23</integer>
		<key>a</key>
		<integer>-50</integer>
		<key>s</key>
		<integer>-27</integer>
		<key>t</key>
		<integer>-55</integer>
		<key>v</key>
		<integer>-19</integer>
		<key>y</key>
		<integer>-51</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>a</key>
		<integer>-24</integer>
		<key>r</key>
		<integer>20</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>J</key>
		<integer>-47</integer>
		<key>j</key>
		<integer>-47</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>T</key>
		<integer>-11</integer>
		<key>a</key>
		<integer>-40</integer>
		<key>s</key>
		<integer>-19</integer>
		<key>t</key>
		<integer>-11</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>a</key>
		<integer>-43</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>O</key>
		<integer>-28</integer>
		<key>o</key>
		<integer>-28</integer>
		<key>s</key>
		<integer>-27</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>S</key>
		<integer>-35</integer>
		<key>T</key>
		<integer>-94</integer>
		<key>Y</key>
		<integer>-78</integer>
		<key>a</key>
		<integer>-11</integer>
		<key>o</key>
		<integer>-43</integer>
		<key>s</key>
		<integer>-35</integer>
		<key>t</key>
		<integer>-125</integer>
		<key>u</key>
		<integer>-39</integer>
		<key>v</key>
		<integer>-129</integer>
		<key>y</key>
		<integer>-109</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>a</key>
		<integer>-20</integer>
		<key>b</key>
		<integer>8</integer>
		<key>n</key>
		<integer>15</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>a</key>
		<integer>-45</integer>
		<key>t</key>
		<integer>-12</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>R</key>
		<integer>20</integer>
		<key>T</key>
		<integer>-70</integer>
		<key>V</key>
		<integer>-23</integer>
		<key>W</key>
		<integer>-27</integer>
		<key>X</key>
		<integer>-12</integer>
		<key>Y</key>
		<integer>-19</integer>
		<key>a</key>
		<integer>-47</integer>
		<key>d</key>
		<integer>-16</integer>
		<key>n</key>
		<integer>-16</integer>
		<key>o</key>
		<integer>-23</integer>
		<key>p</key>
		<integer>-16</integer>
		<key>r</key>
		<integer>10</integer>
		<key>s</key>
		<integer>-19</integer>
		<key>t</key>
		<integer>-70</integer>
		<key>v</key>
		<integer>-43</integer>
		<key>w</key>
		<integer>-43</integer>
		<key>x</key>
		<integer>-11</integer>
		<key>y</key>
		<integer>-43</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>A</key>
		<integer>-78</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-12</integer>
		<key>a</key>
		<integer>-97</integer>
		<key>comma</key>
		<integer>-70</integer>
		<key>period</key>
		<integer>-79</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-12</integer>
		<key>y</key>
		<integer>-15</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>u</key>
		<integer>-10</integer>
	</dict>
	<key>quotedbl</key>
	<dict>
		<key>J</key>
		<integer>-109</integer>
		<key>j</key>
		<integer>-109</integer>
	</dict>
	<key>quotesingle</key>
	<dict>
		<key>J</key>
		<integer>-63</integer>
		<key>S</key>
		<integer>-5</integer>
		<key>T</key>
		<integer>15</integer>
		<key>j</key>
		<integer>-63</integer>
		<key>s</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>15</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>A</key>
		<integer>-12</integer>
		<key>O</key>
		<integer>-16</integer>
		<key>T</key>
		<integer>-16</integer>
		<key>V</key>
		<integer>-28</integer>
		<key>W</key>
		<integer>-24</integer>
		<key>Y</key>
		<integer>-24</integer>
		<key>a</key>
		<integer>-12</integer>
		<key>o</key>
		<integer>-11</integer>
		<key>t</key>
		<integer>-32</integer>
		<key>v</key>
		<integer>-28</integer>
		<key>w</key>
		<integer>-24</integer>
		<key>y</key>
		<integer>-30</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>T</key>
		<integer>-32</integer>
		<key>Y</key>
		<integer>-12</integer>
		<key>a</key>
		<integer>-28</integer>
		<key>e</key>
		<integer>-12</integer>
		<key>h</key>
		<integer>-12</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-28</integer>
		<key>y</key>
		<integer>-12</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>slash</key>
		<integer>-150</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>A</key>
		<integer>-101</integer>
		<key>J</key>
		<integer>-82</integer>
		<key>O</key>
		<integer>-70</integer>
		<key>S</key>
		<integer>-27</integer>
		<key>a</key>
		<integer>-113</integer>
		<key>comma</key>
		<integer>-65</integer>
		<key>h</key>
		<integer>-11</integer>
		<key>i</key>
		<integer>-11</integer>
		<key>j</key>
		<integer>-82</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-65</integer>
		<key>s</key>
		<integer>-50</integer>
		<key>space</key>
		<integer>-54</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>four</key>
		<integer>-41</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>a</key>
		<integer>-47</integer>
		<key>s</key>
		<integer>-31</integer>
		<key>t</key>
		<integer>-19</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>A</key>
		<integer>-102</integer>
		<key>J</key>
		<integer>-98</integer>
		<key>a</key>
		<integer>-125</integer>
		<key>e</key>
		<integer>10</integer>
		<key>j</key>
		<integer>-98</integer>
		<key>o</key>
		<integer>-35</integer>
		<key>space</key>
		<integer>-39</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>A</key>
		<integer>-109</integer>
		<key>O</key>
		<integer>-28</integer>
		<key>S</key>
		<integer>-20</integer>
		<key>a</key>
		<integer>-105</integer>
		<key>o</key>
		<integer>-28</integer>
		<key>period</key>
		<integer>-80</integer>
		<key>s</key>
		<integer>-20</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>s</key>
		<integer>-31</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>A</key>
		<integer>-94</integer>
		<key>a</key>
		<integer>-94</integer>
		<key>c</key>
		<integer>-31</integer>
		<key>comma</key>
		<integer>-50</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>period</key>
		<integer>-50</integer>
		<key>s</key>
		<integer>-35</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>O</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-16</integer>
	</dict>
</dict>
</plist>
