<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>C</key>
		<integer>-54</integer>
		<key>G</key>
		<integer>-24</integer>
		<key>K</key>
		<integer>-28</integer>
		<key>N</key>
		<integer>-39</integer>
		<key>R</key>
		<integer>-31</integer>
		<key>S</key>
		<integer>-24</integer>
		<key>T</key>
		<integer>-99</integer>
		<key>V</key>
		<integer>-106</integer>
		<key>W</key>
		<integer>-106</integer>
		<key>Y</key>
		<integer>-110</integer>
		<key>c</key>
		<integer>-54</integer>
		<key>g</key>
		<integer>-24</integer>
		<key>n</key>
		<integer>-39</integer>
		<key>r</key>
		<integer>-31</integer>
		<key>s</key>
		<integer>-28</integer>
		<key>t</key>
		<integer>-99</integer>
		<key>v</key>
		<integer>-106</integer>
		<key>y</key>
		<integer>-106</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>T</key>
		<integer>-32</integer>
		<key>t</key>
		<integer>-32</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-63</integer>
		<key>S</key>
		<integer>-32</integer>
		<key>a</key>
		<integer>-63</integer>
		<key>s</key>
		<integer>-32</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>S</key>
		<integer>-32</integer>
		<key>a</key>
		<integer>-40</integer>
		<key>s</key>
		<integer>-32</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-85</integer>
		<key>O</key>
		<integer>-47</integer>
		<key>S</key>
		<integer>-39</integer>
		<key>o</key>
		<integer>-47</integer>
		<key>s</key>
		<integer>-39</integer>
	</dict>
	<key>I</key>
	<dict>
		<key>V</key>
		<integer>-15</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>S</key>
		<integer>-47</integer>
		<key>s</key>
		<integer>-31</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>S</key>
		<integer>-31</integer>
		<key>T</key>
		<integer>-106</integer>
		<key>Y</key>
		<integer>-96</integer>
		<key>s</key>
		<integer>-31</integer>
		<key>t</key>
		<integer>-106</integer>
		<key>y</key>
		<integer>-96</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>A</key>
		<integer>-39</integer>
		<key>a</key>
		<integer>-39</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>V</key>
		<integer>-44</integer>
		<key>W</key>
		<integer>-37</integer>
		<key>X</key>
		<integer>-31</integer>
		<key>Z</key>
		<integer>-31</integer>
		<key>x</key>
		<integer>-31</integer>
		<key>z</key>
		<integer>-31</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-117</integer>
		<key>a</key>
		<integer>-117</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>W</key>
		<integer>-24</integer>
		<key>w</key>
		<integer>-20</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>A</key>
		<integer>-39</integer>
		<key>a</key>
		<integer>-39</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>A</key>
		<integer>-40</integer>
		<key>T</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-32</integer>
		<key>a</key>
		<integer>-40</integer>
		<key>t</key>
		<integer>-30</integer>
		<key>y</key>
		<integer>-32</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-110</integer>
		<key>C</key>
		<integer>-47</integer>
		<key>H</key>
		<integer>-39</integer>
		<key>S</key>
		<integer>-63</integer>
		<key>c</key>
		<integer>-47</integer>
		<key>h</key>
		<integer>-39</integer>
		<key>s</key>
		<integer>-63</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>G</key>
		<integer>-23</integer>
		<key>S</key>
		<integer>-23</integer>
		<key>g</key>
		<integer>-23</integer>
		<key>s</key>
		<integer>-23</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-106</integer>
		<key>O</key>
		<integer>-31</integer>
		<key>S</key>
		<integer>-24</integer>
		<key>Y</key>
		<integer>-15</integer>
		<key>a</key>
		<integer>-106</integer>
		<key>s</key>
		<integer>-24</integer>
		<key>y</key>
		<integer>-15</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-106</integer>
		<key>E</key>
		<integer>-17</integer>
		<key>O</key>
		<integer>-28</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-101</integer>
		<key>O</key>
		<integer>-54</integer>
		<key>S</key>
		<integer>-39</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-54</integer>
		<key>s</key>
		<integer>-39</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>S</key>
		<integer>-23</integer>
		<key>s</key>
		<integer>-23</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>c</key>
		<integer>-54</integer>
		<key>g</key>
		<integer>-24</integer>
		<key>k</key>
		<integer>-31</integer>
		<key>n</key>
		<integer>-39</integer>
		<key>r</key>
		<integer>-31</integer>
		<key>s</key>
		<integer>-24</integer>
		<key>t</key>
		<integer>-99</integer>
		<key>v</key>
		<integer>-106</integer>
		<key>w</key>
		<integer>-103</integer>
		<key>y</key>
		<integer>-110</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>t</key>
		<integer>-32</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>a</key>
		<integer>-63</integer>
		<key>s</key>
		<integer>-32</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>a</key>
		<integer>-40</integer>
		<key>s</key>
		<integer>-32</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>a</key>
		<integer>-85</integer>
		<key>o</key>
		<integer>-47</integer>
		<key>s</key>
		<integer>-39</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>v</key>
		<integer>-15</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>s</key>
		<integer>-47</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>s</key>
		<integer>-31</integer>
		<key>t</key>
		<integer>-105</integer>
		<key>y</key>
		<integer>-92</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>a</key>
		<integer>-32</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>v</key>
		<integer>-44</integer>
		<key>w</key>
		<integer>-37</integer>
		<key>x</key>
		<integer>-31</integer>
		<key>z</key>
		<integer>-31</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>a</key>
		<integer>-117</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>w</key>
		<integer>-24</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<integer>-39</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>a</key>
		<integer>-40</integer>
		<key>t</key>
		<integer>-30</integer>
		<key>y</key>
		<integer>-32</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>a</key>
		<integer>-110</integer>
		<key>c</key>
		<integer>-47</integer>
		<key>h</key>
		<integer>-39</integer>
		<key>s</key>
		<integer>-63</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>g</key>
		<integer>-23</integer>
		<key>s</key>
		<integer>-23</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>a</key>
		<integer>-106</integer>
		<key>o</key>
		<integer>-31</integer>
		<key>s</key>
		<integer>-24</integer>
		<key>y</key>
		<integer>-15</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>a</key>
		<integer>-105</integer>
		<key>e</key>
		<integer>-17</integer>
		<key>o</key>
		<integer>-27</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>a</key>
		<integer>-94</integer>
		<key>o</key>
		<integer>-54</integer>
		<key>s</key>
		<integer>-47</integer>
		<key>t</key>
		<integer>-20</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>s</key>
		<integer>-23</integer>
	</dict>
</dict>
</plist>
